<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <style>
     * {
       margin: 0;
       padding: 0;
     }

     ul {
       list-style-type: none;
     }

     img.color {
       width: 48px;
       height: 48px;
     }
    </style>
  </head>
  <body>
    <ul>
      {{range .}}
      <li><img class="color" src="/img/{{.}}_bone.png"></li>
      {{end}}
    </ul>
  </body>
</html>
